<script>
print = (arg) => {
  b.innerHTML += arg
}
putc = (c) => {
  b.innerHTML += String.fromCodePoint(c)
}

// https://developer.mozilla.org/en-US/docs/WebAssembly/Using_the_JavaScript_API
const memory = new WebAssembly.Memory({ initial: 1, maximum: 16 })

Machine = {
  TextWidth: 40,
  TextHeight: 25,
}

const imports = {
  $:{
    print: print,
    putc: putc,
  },
  js:{
    mem: memory,
  },
}

fetchWASM = WebAssembly.instantiateStreaming(fetch("micro.wasm"), imports)

Mode = (m) => {
  console.assert(m==0, "Wrong mode", m)
  t.innerHTML = ""
  let p = 0
  let u = new Uint32Array(memory.buffer)
  for(j=0; j<Machine.TextHeight; j++) {
    for(i=0; i<Machine.TextWidth; i++) {
      t.innerHTML += String.fromCodePoint(u[p])
      p += 1
    }
    t.innerHTML += "\n"
  }
}

window.onload = (e) => {
  fetchWASM.then(
    (wasm) => {
      console.log("WASM loaded")
      WASM = wasm
      wasm.instance.exports.hello()
      console.log(new Int32Array(memory.buffer)[0])
      Mode(0)
      }
  )
};
</script>
<body style="background-color:#78e;" id=b>JavaScript host
<pre style="background-color:#44c;color:#78e;" id=t>Blang
